@charset "utf-8";




/* 배경 */
main{height:1300px;}
.head{
	position: relative;
	width:100%; height:470px;
	overflow: hidden;
	background: #333;
	font-family: '나눔바른고딕';
}
.head_title > li{
	position: absolute;
	top:50%; left:50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	color: #ccc;
	letter-spacing: 5px;
}
.head_title > li:last-child{
	margin-top:50px;
	font-size: 48px;
	color: #fff;
	letter-spacing: 10px;
}
.head img{
    width:1920px;
	opacity: 0.3;
}










.head_txt{
	position: relative;
	top:-40px;
	width:1200px;
	z-index: 10;
	margin: 0px auto;
	display: flex;
}
.head_txt > li{
	width:240px;
	text-align: center;
	background-color: #fff;
	box-sizing: border-box;
}
.promise01,
.promise02,
.promise03,
.promise04,
.promise05,
.promise06,
.promise07{
	display: block;
	font-size:16px;
	padding:10px 0px;
	cursor: pointer;
}
.promise01{
	background-color:#2b75e0;
	color: #fff;
}
.promise01,
.promise02,
.promise03,
.promise04,
.promise05,
.promise06{
	border-right: 1px solid #ccc;
	box-sizing: border-box;
}
.promise_txt01,
.promise_txt02,
.promise_txt03,
.promise_txt04,
.promise_txt05,
.promise_txt06,
.promise_txt07{
	position: absolute;
	top:40px; left:0px;
	width:1200px; height:730px;
	background-color:#fff;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 80px;
	font-weight: bold;
	line-height:145px;
	color:#2b75e0;
}
.promise_txt01{z-index: 8;}

.promise_txt02,
.promise_txt03,
.promise_txt04,
.promise_txt05,
.promise_txt06{z-index: 2;}









/* 소개 - 05 오시는 길 */
.promise_txt05{
	margin-top: 100px;
	font-size: 16px;
	color:#333;
	font-weight: 500;
	line-height:25px;
	text-align: left;
	border-top: none;
}
.promise_txt05 > h3{
	font-size: 50px;
	font-family: '나눔스퀘어라운드';
	font-weight: bold;
	text-indent: 20px;
	font-weight: bold;
	padding-bottom: 30px;
	margin-top:30px;
}
.promise_txt05 > ul{
	margin-top:20px;
	display: flex;
}
.promise_txt05 > ul > li:last-child{
	padding-left: 71px;
	font-family: '나눔바른고딕';
}
.fa-subway,
.fa-bus{
	font-size: 30px;
	padding:10px;
}
#line3{
	width:20px; height:20px;
	border-radius: 50%;
	background: #ff9500;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}
#busstop{
	font-size:18px;
	background: #333;
	color: #fff;
	text-align: center;
	margin: 10px 0px 5px 0px;
	padding: 3px 0px;
}
#green, #blue, #red, #sky{color:#fff;}
#green{background: limegreen;}
#blue{background: blue;}
#red{background: red;}
#sky{background:deepskyblue;}









/* 소개 - 공지사항 */
.promise_txt06{
	font-size:16px;
	font-weight: 500;
	line-height: 40px;
	color: #333;
}
table > caption{
	position: relative;
	top:-30px;
	font-size: 50px;
	font-family: '나눔스퀘어라운드';
	text-align: left;
	font-weight: bold;
	text-indent: 20px;
}
.promise_txt06 > table:first-child{z-index:3;}
.promise_txt06 > table{
	position: absolute;
	top:150px;
	width:100%; height:480px;
	font-family: '나눔바른고딕';
	background: #fff;
}
.notice_title{
	background: #2b75e0;
	color: #fff;
	font-size: 18px;
}
.notice_txt > td:first-child{
	color:tomato;
	width:52px; height:41.45px;
}
.notice_txt > td:nth-child(2){
	text-align: left;
	cursor: pointer;
	width:909.39px;
}
.notice_txt > td:nth-child(2):hover,
.promise06_no > span:hover{text-decoration: underline;}

.promise06_no{
	position: absolute;
	bottom:0px;
	width:1200px;
	font-size: 20px;
}

.promise06_no > span{
	cursor: pointer;
	font-weight: bold;
}
.promise06_no > span:first-child{color: #2b75e0;}
table:nth-child(3){
	height:124.35px;
	padding-bottom:355px;
}





/* 푸터 */
footer{border-top: 1px solid #ccc;}